# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws


# Ignore Gradle project-specific cache directory
.gradle
build

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Java ###
# Compiled class file
*.class

functions.csv
